@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 50px 8%;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}


.fotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.fotos img {
  max-width: 100%;
  border-radius: 20px;
}

.fotos img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px #000000;
}

.gallery_oculta {
  display: none;
}

section {
  background-image: url(/src/image/Banner_galeria.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  max-width: 150px;
}

.container__text {
  color: #9d145c;
  margin-bottom: 5%;
}

.navbar > .container-fluid {
  margin: 0px 150px 0px 150px;
  display: flex;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 1px 8px 1px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.6s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 2px solid #9d145c;
  color: #9d145c;
}

.dropdown-menu
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
    color: #000;
}

.custom-bg-color {
  background-color: #fff;
}

footer {
  background: #fff;
  width: 100%;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 200px;
  height: 1px;
  width: 100%;
  background: #9d145c;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.content .top .logo-details img {
  max-width: 30%;
}

footer .content .link-boxes {
  width: 101%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #9d145c;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #9d145c;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #57606f;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.content .link-boxes .box p {
  color: #57606f;
  font-size: 14px;
  font-weight: 400;
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  color: #9d145c;
  text-decoration: underline;
}

footer .bottom-details {
  width: 100%;
  background: #9d145c;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.content .link-boxes .box span {
  opacity: 0.8;
  color: #57606f;
  font-size: 14px;
  font-weight: 400;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
  text-decoration: underline;
}


@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .navbar-toggler {
    position: relative;
    z-index: 2;
  }

  .navbar > .container-fluid {
    margin: 0px;
  }

  .navbar-collapse {
    background: #f1f2f6;
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
    align-items: center;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .content .link-boxes {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    ol,
    ul {
      padding-left: 0rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .content .link-boxes {
    display: flex;
    justify-content: flex-start;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 5 - -80px);
  }

  .navbar > .container-fluid {
    margin: 0;
    display: flex;
  }

  .navbar-collapse {
    background: #dfe4ea;
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
    align-items: center;
  }
  .navbar > .container-fluid {
    margin: 0px;
  }
}
